.get-involved-section {
  background: linear-gradient(
    135deg,
    rgba(0, 200, 149, 1) 0%,
    rgba(0, 148, 109, 1) 100%
  );
  color: #000;
  padding: 80px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40vh;
}

.get-involved-container {
  max-width: 1200px;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.get-involved-content {
  max-width: 800px;
  margin-bottom: 0px;
}

.get-involved-title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #fff;
}

.get-involved-text {
  font-size: 20px;
  color: #fff;
  margin-bottom: 40px;
  line-height: 1.6;
}

.get-involved-button {
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 30px;
  background-color: #000;
  color: #fff;
  border: none;
  display: inline-flex;
  align-items: center;
  transition: background-color 0.3s, color 0.3s;
  text-decoration: none;
}

.get-involved-button i {
  margin-left: 10px;
}

.get-involved-button:hover {
  background-color: #fff;
  color: #000;
}

@media (max-width: 768px) {
  .get-involved-title {
    font-size: 36px;
  }
  .get-involved-text {
    font-size: 16px;
  }
  .get-involved-button {
    font-size: 16px;
  }
}
